<div id="feedback_form" style="border: 0px solid black">
    <div class="row">
		<div class="col">
			<h4 style="font-family: 'Montserrat-SemiBold';">Обратная связь</h4>
		</div>
	</div>
    <hr>
<!--    <div class="row">-->
<!--        <div style="width:1px; height:2rem"></div>-->
<!--    </div>-->
    <form action="" class="container-fluid">
        <div class="row">
            <p class="denied mb-2" id="feedback_page_error"></p>
        </div>
        <div class="row">
            <label class="col-3" for="feedback_page_name"><b>Имя</b></label>
            <input class="col-9" id="feedback_page_name" type="text" placeholder="Имя">
        </div>
        <div class="row">
            <label class="col-3" for="feedback_page_email"><b>Email</b></label>
            <input class="col-9" id="feedback_page_email" type="text" placeholder="Введите ва Email для связи">
        </div>
        <div class="row">
            <label class="col-3" for="feedback_page_text"><b>Текст</b></label>
            <textarea class="col-9" id="feedback_page_text" style="height: 200px;" placeholder="Введите текст обращения"></textarea>
        </div>
        <div class="row">
            <label class="col-3" for="feedback_page_submit"><b></b></label>
            <input id="feedback_page_submit" type="button" class="col-9 button black-button" value="Отправить">
        </div>
    </form>
</div>