<div class="stage table-stage3">
	<div class="row">
		<div class="col text-center">
			<h4 style="font-family: 'Montserrat-SemiBold';">Организации</h4>
		</div>
	</div>
	<div id="organization-table"></div>
</div>

<div id="edit_org_block" style="display:none;">
	<div class="row mb-3">
		<div class="col text-center">
			<h4 id="modal_category_name" style="font-family: 'Montserrat-SemiBold';">Редактирование организации</h4>
		</div>
	</div>
	<div class="form-group row">
		<label for="example-text-input" class="col-3 col-form-label">Название организации</label>
		<div class="col-9">
			<input class="form-control" type="text" value="" placeholder="Введите название"
				   id="restore_org_input">
		</div>
	</div>
	<div class="form-group row mt-3">
		<div class="col-6">
		</div>
		<div class="col-6 text-right">
			<button id="restore_org_submit" type="button" class="btn btn-primary">Сохранить</button>
		</div>
	</div>
	<div id="users_view"></div>
</div>