<div class="stage table-stage5">
	<div class="row mb-3">
		<div class="col text-center">
			<h4 style="font-family: 'Montserrat-SemiBold';">Тесты</h4>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-6">
			<select id="organization_of_tests_filter" size="1" name="hero[]">
				<option selected value="org">Отфильтровать по организации</option>
			</select>
		</div>
		<div class="col-6 text-right">

			<button id='create_test_button' type="button" class="btn btn-dark">Создать тест</button>
		</div>
	</div>
	<div id="tests-table"></div>
</div>
<div id="openTest1" style="display:none">
	<table id="appoint_users_to_test_table"></table>
	<div class="form-group row mt-3">
	<div class="col-6">
	</div>
		<div class="col-6 text-right">
			<button id="save_appoint_test" type="button" class="btn btn-primary">Отправить</button>
		</div>
	</div>
</div>