<div class="stage slider-wrapper">
	<div class="slider">
		{% for slide in slides %}
			<div class=""><a href="{{ slide.reference }}"><img src="{{ slide.url }}" alt=""></a></div>
		{% endfor %}
<!--		<div class=""><img src="{{ url_for('static', filename='imgs/samples/slider.png') }}" alt=""></div>-->
<!--		<div class=""><img src="{{ url_for('static', filename='imgs/samples/slider.png') }}" alt=""></div>-->
<!--		<div class=""><img src="{{ url_for('static', filename='imgs/samples/slider.png') }}" alt=""></div>-->
<!--		<div class=""><img src="{{ url_for('static', filename='imgs/samples/slider.png') }}" alt=""></div>-->
<!--		<div class=""><img src="{{ url_for('static', filename='imgs/samples/slider.png') }}" alt=""></div>-->
	</div>
</div>