<div class="stage test test-media">
    <div class="row mb-4">
        <div class="col text-center">
            <h4 style="font-family: 'Montserrat-SemiBold';">Управление слайдером</h4>
        </div>
    </div>
    <div class="questions">
        <div class="pl-4">
            <div style="border-bottom: 1px solid #737373;" class="row mb-4 pb-2 pt-1 mx-0">
                <div class="pt-2 col-4"><h6><b>Фото</b></h6></div>
                <div class="col-5 pt-2"><h6><b>URL</b></h6></div>
                <div class="col pt-2"><h6 style="float:right;"><b>Действия</b></h6></div>
            </div>

            <div id="slides_container"></div>
<!--                <div class="row mb-4 some_image" data-index="1">-->
<!--                    <div class="col-4">-->
<!--                        <div class="stock">-->
<!--                            <a class="some_image_a" href="assets/app/img/samples/image.jpg" data-fancybox="images" data-caption="My caption">-->
<!--                                <img class="some_image_img" src="assets/app/img/samples/image.jpg" alt=""/>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-7">-->
<!--                        <div class="container-fluid">-->
<!--                            <div class="row"><input class="some_image_input_reference" readonly style="width:100%;" type="text" placeholder="URL для перехода"></div>-->
<!--                            <div class="row"><input class="some_image_input_image" readonly style="width:100%;" type="text" placeholder="URL изображения"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-1 pt-3">-->
<!--                        <input class="some_image_button btn btn-danger" readonly type="button" value="X ">-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-6">
                <button id="addSlide" type="button" class="btn btn-outline-success">Добавить слайд</button>
            </div>
            <div class="col-6 text-right">
                <button id="saveSliderChanges" type="button" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>