<div class="stage test test-media">
	<div id="title" class="caption">Проверка знаний по Raumplus. Выберите один вариант, который считаете наиболее
		правильным
	</div>
	<div id="question">
		<div class="question-wrapper">
			<div class="inner" style="">
				<div id="question-title">Когда была основана компания ООО “Раумплюс”?</div>
				<div id="answers" class="answer-options">
					<label class="answer">
						<input type="checkbox" checked="checked" name="radio">
						<span class="checkmark"></span>
						<span class="text answertext">Вариант ответа 1</span>
					</label>
					<label class="answer">
						<input type="checkbox" name="radio">
						<span class="checkmark"></span>
						<span class="text answertext">Вариант ответа 2</span>
					</label>
					<label class="answer">
						<input type="checkbox" name="radio">
						<span class="checkmark"></span>
						<span class="text answertext">Вариант ответа 3</span>
					</label>
					<label class="answer">
						<input type="checkbox" name="radio">
						<span class="checkmark"></span>
						<span class="text answertext">Вариант ответа 4</span>
					</label>
					<label class="answer">
						<input type="checkbox" name="radio">
						<span class="checkmark"></span>
						<span class="text answertext">Вариант ответа 5</span>
					</label>
				</div>
			</div>
			<div id="media" class="media">
				<a href="" data-fancybox="images" data-caption="My caption"><img src="" alt=""/></a>
			</div>
		</div>
		<div class="bottom">
			<div class="buttons">
				<button id="prev_question" class="button">Назад</button>
				<button id="next_question" class="button black-button">Далее</button>
			</div>
			<div id="place_for_timer"></div>
			<div id="queCount" class="counter"><span id="current_count">1</span>/<span></span><span id="all_count">5</span></div>
		</div>
	</div>
</div>