<div class="stage table-stage4">
	<div class="row">
		<div class="col text-center">
			<h4 style="font-family: 'Montserrat-SemiBold';">Тест №1</h4>
		</div>
	</div>
	<table class="table">
		<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Вопрос</th>
			<th scope="col">Правильный ответ</th>
			<th scope="col">Ответ пользователя</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="row">1</th>
			<td>В каком году развалился Советский союз?</td>
			<td>1991</td>
			<td class="unCorrect">2004</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>Архитектура какой эпохи изображена на фото?</td>
			<td>Викторианская</td>
			<td class="unCorrect">Возрождения</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Что лучше, Субару и Шевроле?</td>
			<td>Шевроле</td>
			<td class="correct">Шевроле</td>
		</tr>
		</tbody>
	</table>

</div>